<footer class="bot">
  <div class="row">
    <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
      <h5>Links de interés</h5>
      <ul class="list-unstyled">
        <li><a href="#">Home</a></li>
        <li><a href="#">¿Qué es Blush-Bar?</a></li>
      </ul>
    </div>
    <div class="col-xs-6 col-sm-5">
      <h5>
        <i class="glyphicon glyphicon-user"></i>    Servicio al cliente
      </h5>
      <address>
        Contáctanos:<br>
        <i class="fa fa-phone"></i> (+57) 316 521 2698<br>
        <i class="fa fa-envelope"></i>shop@blush-bar.com<br>
        <i class="glyphicon glyphicon-time"></i>Horario de atención:<br><p>9:00am a 6:00pm</p>
      </address>
    </div>

    <div class="col-xs-12 col-sm-4 right">
      <h3><i class="glyphicon glyphicon-calendar"></i>  Agenda tu cita: </h3>
      <address>
        <i class="glyphicon glyphicon-screenshot"></i> Bogotá Zona T: (1) 466-1216<br>
        <i class="glyphicon glyphicon-screenshot"></i> Bogotá Parque La Colina (1) 746-2858<br>
        <i class="glyphicon glyphicon-screenshot"></i> Barranquilla C.C. Viva: (5) 386-1033<br>
        <i class="fa fa-envelope"></i>agenda@blush-bar.com<br>
      </address>
    </div>
  </div>
</footer>

<div class="footer-bottom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="copyright">
          © 2015, Copyright 2017. All Rights Reserved
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="design">
          <a href="#">Franchisee </a> |  <a target="_blank" href="http://www.webenlance.com">Web Design & Development by Webenlance</a>
        </div>
      </div>
    </div>
  </div>
</div>
