<footer class="row-footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-5 col-xs-offset-1 col-sm-2 col-sm-offset-1">
                    <h5>Links de interes</h5>
                    <ul class="list-unstyled">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">¿Que es Blush-Bar</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-5">
                    <h5>Servicio al cliente</h5>
                    <address>
                      Contactanos:<br>
                      Con gusto te atenderemos<br>
                      <i class="fa fa-phone"></i>: (+57) 316 521 2698<br>
                      <i class="fa fa-envelope"></i>: <a href="mailto:confusion@food.net">shop@blush-bar.com</a><br>
                      <i class="glyphicon glyphicon-time"></i>: Horarios de Atencion:<br><p>__9:00am a 6:00pm</p>
                   </address>
                </div>

                <div class="col-xs-12 col-sm-4">
                <h3><i class="glyphicon glyphicon-headphones"></i>  Agenda tu cita: </h3>
                    <address>
                      <i class="glyphicon glyphicon-screenshot"></i>: Bogotá Zona T: (1) 466-1216<br>
                      <i class="glyphicon glyphicon-screenshot"></i>: Bogotá Parque La Colina (1) 746-2858<br>
                      <i class="glyphicon glyphicon-screenshot"></i>: Barranquilla C.C. Viva: (5) 386-1033<br>
                      <i class="fa fa-envelope"></i>:  agenda@blush-bar.com<br>
                   </address>
                </div>

                <div class="col-sm-12">
                        <p style="padding:10px;"></p>
                        <p align=center>&copy; Copyright 2015. All Rights Reserved</p>
                </div>
            </div>
        </div>
    </footer>
