<div class="container">
  <div class="row row-content">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail media">
        <img class="media-object img-thumbnail img-circle" src="./src/app/home/body/img/party.png" alt="...">
        <div class="caption">
          <div class="media-body media-center">
            <h2 class="media-heading">Makeup Party </h2>
            <p>Comparte una celebración con tus mejores amigas!</p>
            <p><a class="btn btn-defoult btn-xs" href="#">Agenda tu cita &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail media">
        <img class="media-object img-thumbnail img-circle" src="./src/app/home/body/img/party1.png" alt="...">
        <div class="caption">
          <div class="media-body media-center">
            <h2 class="media-heading">B R O W</h2>
            <p>Friends don't let friends have bad brows! Servicios de cejas para verte divina!</p>
            <p><a class="btn btn-defoult btn-xs" href="#">Agenda tu cita  &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail media">
        <img class="media-object img-thumbnail img-circle" src="./src/app/home/body/img/party2.png" alt="...">
        <div class="caption">
          <div class="media-body media-center">
            <h2 class="media-heading">Makeup Classes </h2>
            <p>Clases en grupo, en pares, o individuales. Todo para que seas tu propia experta!</p>
            <p><a class="btn btn-defoult btn-xs" href="#">Agenda tu cita  &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row row-content">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail media">
        <img class="media-object img-thumbnail img-circle" src="./src/app/home/body/img/party3.png" alt="...">
        <div class="caption">
          <div class="media-body media-center">
            <h2 class="media-heading">Agenda tu cita</h2>
            <p>Nuestros servicios para que seas tu propia experta en Maquillaje!</p>
            <p><a class="btn btn-defoult btn-xs" href="#">Agenda tu cita  &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail media">
        <img class="media-object img-thumbnail img-circle" src="./src/app/home/body/img/party4.png" alt="...">
        <div class="caption">
          <div class="media-body media-center">
            <h2 class="media-heading"> Tea Party </h2>
            <p>3 amigas, 3 brownies, 3 tazas de Té y mucho maquillaje!</p>
            <p><a class="btn btn-defoult btn-xs" href="#">Agenda tu cita  &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="thumbnail media">
        <img class="media-object img-thumbnail img-circle" src="./src/app/home/body/img/party5.png" alt="...">
        <div class="caption">
          <div class="media-body media-center">
            <h2 class="media-heading">Beauty Tools</h2>
            <p>La colección perfecta de brochas de maquillaje para ti!!</p>
            <p><a class="btn btn-defoult btn-xs" href="#">Agenda tu cita  &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
