div.back {
  background-color: #ffcccc;
}
.media {
  height: 350px;
  text-align: center;
}

p a {
	color: #ff80aa;
}

div.container {
  padding-top: 10px;
  background-color: #ffe6e6;
  background-image: image(,/img/images.png);
}

.thumbnail {
  border-style: none;
}
