<div class="">
  <div class="container">
    <h1 class="display-3 align-center">Create a New Service</h1>
  </div>
</div>

<div class="">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <form (ngSubmit)="createService(service); serviceForm.reset()" #serviceForm='ngForm'>
        <div class="form-group">
          <label for="name">
            <h3>
              Nombre del nuevo servicio:
            </h3>
          </label>
          <input type="text" class="form-control" id="name" placeholder="New service"
          required
          name="name"
          #name='ngModel'
          [(ngModel)]='service.name'
          >
          <div [hidden]="name.valid ||   name.pristine"
          class="alert alert-danger">
          Name of service is required
        </div>
        </div>

        <div class="form-group">
          <label for="cost">
            <h3>Costo del servicio: </h3>
          </label>
          <input type="text" class="form-control" id="cost" placeholder=""
          required
          name="cost"
          #cost='ngModel'
          [(ngModel)]='service.cost'
          >
          <div [hidden]="cost.valid ||   cost.pristine"
          class="alert alert-danger">
          Name of project is required
        </div>
        </div>

        <div class="form-group">
          <label for="description">
            <h3>Descripcion del servicio: </h3>
          </label>
          <input type="text" class="form-control" id="description" placeholder=""
          required
          name="description"
          #description='ngModel'
          [(ngModel)]='service.description'
          >
          <div [hidden]="description.valid ||   description.pristine"
          class="alert alert-danger">
          Name of project is required
        </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!serviceForm.form.valid"
        [hidden]="submitted">
        Crear Servicio</button>

        <!-- Stay hidden until submitted -->
        <!--<div [hidden]="!submitted"
        class="alert alert-success" role="alert">
        Your Project has been successfully created. <a class="alert-link" routerLink="/projects"> View all Projects </a>
      </div>-->
      </form>
    </div>
  </div>
</div>
