<div class="container">
  <div class="row row-content">
    <div class="service" *ngFor="let service of services">
      <a (click)="serviceShow(service)">
        <div class="col-xs-12 col-sm-6">
          <div class="thumbnail media">
            <img class="media-object img-thumbnail" src="./src/app/info/img/fachadaBB.jpg" alt="...">
            <div class="caption">
              <div class="media-body media-center">
                <h2 class="media-heading">{{service.name}} </h2>
                <p>$ {{service.cost}}</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
