<div class="container">
  <div class="row row-content">
    <div class="product" *ngFor="let product of products">
      <div *ngIf="product.subcategory_id == 2">
        <a (click)="goToShow(product)">
          <div class="col-xs-12 col-sm-4">
            <div class="col-xs-12 col-sm-12">
              <div class="tcb-product-item">
                <div class="tcb-product-photo">
                  <img src="./src/app/info/img/fachadaBB.jpg" class="img-responsive" alt="a" />
                </div>
                <div class="tcb-product-info">
                  <div class="tcb-product-title">
                    <h4>{{product.name}} </h4></div>
                    <div class="tcb-product-rating">
                      <i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="active glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>
                      <br>  {{product.description}}
                      <div class="tcb-hline"></div>
                      {{product.brand}}
                    </div>
                    <div class="tcb-hline"></div>
                    <div class="tcb-product-price">
                      $ {{product.cost}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  
