#product{
    height: 40vh;
    width: 40vw;
    margin-top: 10px;
    margin-left: 5vw;
    background-color: #f8f8f8;
}

.container {
	margin-top: 50px;
}

img {
  width: 200px;
  height: 200px;
  align-content: center;
}
.caption {
  text-align: center;
}


.thumbnail {
  border-style: none;
}

body{
  background:#efefef;
  font-family:'Arial'sans-serif;
  font-size:62.5%;
}
h1{
  font-weight:500;
  font-size:3.9em;
}
img{
  max-width:100%;
}
#wrap{
  width:80%;
  margin:0 auto;
  padding-top:30px;
  padding-bottom:30px;
}
#product_layout_1{
  margin-top:30px;
}
#product_layout_1 .top{
  display:block;
  width:100%;
  margin-bottom:30px;
}
#product_layout_1 .bottom{
  display:block;
  width:100%;
  padding-top:30px;
  clear:both;
}
#product_layout_1 .product_images{
  width:30%;
  max-width:320px;
  float:left;
}
#product_layout_1 .product_info{
  width:66%;
  float:left;
  margin-left:4%;
}
#product_layout_1 .product_images .product_image_1{
   width:100%;
   border:2px solid lightgray;
   border-radius:3px;
}
#product_layout_1 .product_info h1{
  font-size:3.6em;
  line-height:.8;
}
#product_layout_1 .product_info .price{
  margin-top:-40px;
}
#product_layout_1 .product_info .original_price{
  color:lightgray;
  font-size:2.8em;
  text-decoration:line-through;
  width:20%;
  display:inline-block;
}
#product_layout_1 .product_info .sale_price{
  color:#b30000;
  font-size:3.2em;
  display:inline-block;
  width:30%;
}
#product_layout_1 .product_info .rating{
  margin-top:-20px;
  color:goldenrod;
}
#product_layout_1 .product_info .product_description{
 font-size:3.4em;
}
#product_layout_1 .product_info .related_info{
  color:#a6a6a6;
}
#product_layout_1 .product_info .related_info span{
  margin-right:5%;
}
#product_layout_1 .product_info .options{
  margin-top:30px;
}
#product_layout_1 .product_info .buying_options{
  width:45%;
  float:left;
}
#product_layout_1 .product_info .buying{
  width:45%;
  float:left;
  margin-left:10%;
}
#product_layout_1 .product_info .buying_options .select{
  width: 100%;
  max-width:300px;
  height: 40px;
  overflow: hidden;
  background: url('http://i.imgur.com/10e9Roz.png') no-repeat right #FFF;
  border: 1px solid #ccc;
  border-radius:3px;
  margin-top:15px;
}
#product_layout_1 .product_info .buying_options select{
  background: transparent;
  display:block;
  width: 268px;
  padding: 5px;
  font-size: 2em;
  line-height: 1;
  border: 0;
  border-radius:0;
  height: 40px;
  -webkit-appearance: none;
}
#product_layout_1 .product_info .buying .quantity{
  font-size:2em;
  margin-top:15px;
  width:100%;
  display:block;
}
#product_layout_1 .product_info .buying .quantity [type="text"]{
  width:40px;
  height:40px;
  border:1px solid #ccc;
  border-radius:3px;
  padding:10px;
  box-sizing:border-box;
  font-size:1em;
}
#product_layout_1 .product_info .buying .cart{
  margin-top:25px;
  width:100%;
  float:left;
  margin-bottom:20px;
}
#product_layout_1 .product_info .buying .cart a.add{
  font-size:2em;
  color:#FFF;
  background:#ff9999;
  text-decoration:none;
  padding:10px 20px;
  height:40px;
  border-radius:3px;
  margin-left:10px;
}
