<div id="loginModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!--Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login</h4>
      </div>
      <div class="modal-body modal-lg">
        <form class="form-inline">
          <!--form class="navbar-form navbar-right">-->
          <div class="form-group">
            <label class="sr-only" for="inputemail">Email</label>
            <input type="email" class="form-control input-sm" placeholder="Email" id="inputemail">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputpwd">Password</label>
            <input type="password" class="form-control input-sm" placeholder="Password" id="inputpwd">
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Remember me
            </label>
          </div>
          <button type="submit" class="btn btn-info btn-sm">Sign in</button>
          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
        </form>
      </div>
    </div>
  </div>
</div>


<header class="">

</header>


<div class="content-section-a">

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Conoce nuestros servicios:<br>clases y aplicaciones de maquillaje</h2>
        <p class="lead">En Blush-Bar, te ofrecemos una amplia variedad de servicios gratuitos o pagados (100% redimibles en productos)</p>
      </div>
      <div class="col-lg-5 col-lg-offset-2 col-sm-6">
        <img class="img-responsive" src="./src/app/home/img/img1.jpg" alt="">
      </div>
    </div>

  </div>


</div>


<div class="content-section-b">

  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">¡No salgas de tu casa!<br>Compra desde nuestra tienda virtual</h2>
        <p class="lead">Los mejores productos de maquillaje y cuidado facial esperan por ti</p>
      </div>
      <div class="col-lg-5 col-sm-pull-6  col-sm-6">
        <img class="img-responsive" src="./src/app/home/img/img2.png" alt="">
      </div>
    </div>

  </div>


</div>

<app-body class="image"></app-body>
